@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, :root {
  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  }

  body {
    background-color: #151b2a;
  }

  main {
    padding: 20px;
    max-width: 640px;
    margin: 0 auto 64px;
  }

  header {
 margin-top: 64px;
 padding-bottom: 24px;
 border-bottom: 1px solid #334155;

  }

header h1{
font-size: 30px;
color: aliceblue;
}

#quiz {
  counter-reset: quiz-item;
}

.quiz-Item{
 margin-top: 24px;
 border: 1px solid black;
 border-radius: 6px;
 overflow: hidden;
 
}

.quiz-Item h3 {
  padding: 16px 20px;
  color: #e2e8f0;
  display: flex;
  align-items: center;
  gap: 12px;
  
  background-color: #1e293b;
 
}

.quiz-Item h3:before {
  
  counter-increment: quiz-item;
  content:counter(quiz-item);
  background-color: #404144;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 80%;
  flex-shrink: 0;
 
}

.quiz-Item dl {
  margin-top: 10px;
 padding: 5px 12px;
 padding-bottom: 12px;
display: grid;
gap: 4px;
font-size: 10px;
}

.quiz-Item dl dt {
font-size: 14px;
line-height: 25px;
letter-spacing: 0;
display: flex;
align-items: center;
color: rgb(255, 255, 255);
gap: 8px;
}

input {
  all: unset;
  border: 1px solid #334155;
  width: 16px;
  height: 16px;
 margin-left: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-shrink: 0;
}

input :checked {

border: 1px solid rgb(0, 0, 0);
}

input:checked:before{
content: "";
width: 11px;
height: 10px;
min-height:11px;

background-color: rgb(255, 255, 255);
border-radius: 50%;
}


#acertos {
  text-align: center;
  background-color: #262e42;
  border: solid rgba(18, 5, 5, 0);
  color: aliceblue;

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 8px;
  }
 
    #parabens {
      font-size: 18px;
      color: white;
      text-align: right;
      margin-top: 30px;
      margin-right: 10px;
      
      
      padding: 2px;
    }
   